body{ font-family:StarCraft Normal}
.container {
	width: 700px;
	background-color: #fff;
	border: 10px solid #000;
	margin-left: auto;
	margin-right: auto;
	height: 700px;
}
li a {
display: block;
color: blue;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li {
float: left;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}