body{font-family:StarCraft;
      background-color: blue;}
.container {
	width: 1000px;
	border: 0.5px solid red;
        border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
}
div.title{width:600px;
       background-color:navy;}
h1{text-align:center;}
li a {
display: block;
color: blue;
text-align: center;
padding: 14px 16px;
text-decoration: none;
width:167.5px;
}
li {
float: left;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: navy;
border-radius: 10px;
length: 350px;
}
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4a5d23;
}